<h1>Albums</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Artist</th>
      <th>Album</th>
      <th>Release date</th>
    </tr>
  </thead>

  <tbody>
    <% @albums.sort_by {|a| a.artist.name }.each do |album| %>
      <tr id="<%= album.id %>">
        <td><img src="<%= album.image %>"></td>
        <td><%= album.artist.name %></td>
        <td><%= album.name %></td>
        <td><%= album.released %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Album', new_album_path %>
