<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @album.artist.name %>
</p>

<p>
  <strong>Album:</strong>
  <%= @album.name %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @album.released %>
</p>

<p>
  <img src="<%= @album.image %>">
</p>

<table class="table">
  <tr>
    <th>Track Number</th>
    <th>Track Name</th>
    <th>Duration</th>
  </tr>

  <% @album.tracks.each do |t| %>
    <tr>
      <td><%= t.number %></td>
      <td><%= t.name %></td>
      <td><%= t.duration %> seconds</td>
    </tr>
  <% end %>
</table>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
