<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @album.artist.name %>
</p>

<p>
  <strong>Album:</strong>
  <%= @album.name %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @album.released %>
</p>

<p>
  <img src="<%= @album.image %>">
</p>

<table class="table">
  <tr>
    <th>Track Number</th>
    <th>Track Name</th>
    <th>Duration</th>
    <th>Rating</th>
  </tr>

  <% @album.tracks.each do |t| %>
    <tr>
      <td><%= t.number %></td>
      <td><%= t.name %></td>
      <td><%= "#{t.duration / 60}:%02d" % (t.duration % 60) %></td>
      <td><div class="rating" id="<%= t.ratings.first.id %>"></div></td>
    </tr>
  <% end %>
</table>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>

<script>
  <% @album.tracks.each do |t| %>
    $('div.rating#<%= t.ratings.first.id %>').raty({ score: <%= t.ratings.first.score %> });
  <% end %>
</script>
